.top-container{
  background-color: #e4fbff;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin:100px auto;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

h1{
color: #66BFBF;
font-family: 'Sacramento', cursive;
margin: 50px auto 0 auto;
font-size: 5.625rem;
}

h2 {
  color: #66BFBF;
  font-family: 'Amiri', serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
line-height: 2;
}
.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

body{
  color: #40514E;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.intro {
  width: 30%;
  margin: auto;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}
a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.code-img{
  width: 25%;
  float: left;
  margin-right: 20px;
}

hr{
  border: dotted #b4aee8 6px;
  border-bottom: none;
  width: 10%;
  margin:100px auto 100px auto;
}

.computer-img{
  width: 20%;
  float: right;
  margin-right: 50px;
}

.database-img{
  width: 20%;
  float: left;
  margin-right: 50px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #0d3b57);
  background-image: -moz-linear-gradient(top, #3498db, #0d3b57);
  background-image: -ms-linear-gradient(top, #3498db, #0d3b57);
  background-image: -o-linear-gradient(top, #3498db, #0d3b57);
  background-image: linear-gradient(to bottom, #3498db, #0d3b57);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0c9cf5;
  background-image: -webkit-linear-gradient(top, #0c9cf5, #074b78);
  background-image: -moz-linear-gradient(top, #0c9cf5, #074b78);
  background-image: -ms-linear-gradient(top, #0c9cf5, #074b78);
  background-image: -o-linear-gradient(top, #0c9cf5, #074b78);
  background-image: linear-gradient(to bottom, #0c9cf5, #074b78);
  text-decoration: none;
}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px auto;
}
